/* Estilos generales */
* {
    box-sizing: border-box;
}

/* ANIMACION */

.contenedorProyecto {
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(-50%); /* Inicia fuera de la pantalla a la izquierda */
    transition: transform 1s ease-out, opacity 1.2s ease-out;
}

.contenedorProyecto:nth-child(even) {
    transform: translateX(50%); /* Proyectos pares se mueven desde la derecha */
}

.contenedorProyecto.visible {
    opacity: 1;
    transform: translateX(0); /* Se posiciona en su lugar */
}

/* CODIGO GENERAL*/

.sectionServicio {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #5c5b5b;
    min-height: 520px;
}

.contenedorServicio {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    height: auto;
    background: #fffffffb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Estilos para la imagen */
.contenedorImagenServicio {
    position: relative;
    flex: 1;
    min-width: 300px;
    max-width: 40%;
    overflow: hidden;
    height: 100%;
}

.contenedorImagenServicio img {
    width: 100%;
    height: 100%;
}

.titulo-slider {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
}

/* Estilos para la descripción */
.contenedorDescripcionServicio {
    flex: 1;
    max-width: 60%;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.contenedorDescripcionServicio h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}

.parrafoServicio {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

.parrafoServicio span{
    color: #d40203;
    font-weight: bold;
}

.contenedorMetodologia h4 {
    font-size: 1.3rem;
    color: #222;
    margin-bottom: 5px;
}

.contenedorMetodo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contenedorMetodo .li {
    list-style: none;
    font-size: 1.1rem;
    color: #444;
    padding-left: 20px;
    position: relative;
}

.contenedorMetodo .li::before {
    content: '\2713';
    position: absolute;
    left: 0;
    color: #d40203;
    font-weight: bold;
}

.slogan {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    text-align: justify;
}

.slogan span {
    color: #d40203;
}

/* Inicialmente ocultamos los elementos */
.contenedorImagenServicio img,
.contenedorDescripcionServicio h1,
.parrafoServicio,
.contenedorMetodologia,
.slogan,
.contenedorMetodo .li,
.titulo-slider{
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 1.8s ease-out;
}

/* Cuando se activa la animación */
.contenedorImagenServicio img.show,
.contenedorDescripcionServicio h1.show,
.parrafoServicio.show,
.contenedorMetodologia.show,
.slogan.show,
.contenedorMetodo .li.show, .titulo-slider{
    opacity: 1;
    transform: translateY(0);
}

/* Ajuste para la imagen (desliza desde la izquierda) */
.contenedorImagenServicio img {
    transform: translateX(-500px);
}

.contenedorImagenServicio img.show {
    transform: translateX(0);
}

/* La descripción inicia oculta y se mueve desde la derecha */
.contenedorDescripcionServicio {
    opacity: 0;
    transform: translateX(500px);
    transition: opacity 0.8s ease-out, transform 1.8s ease-out;
}

/* Cuando se activa la animación */
.contenedorDescripcionServicio.show {
    opacity: 1;
    transform: translateX(0);
}

/* Ocultamos el título al inicio y lo movemos un poco hacia arriba */
.titulo-slider {
    opacity: 0;
    transform: translatex(-500px);
    transition: opacity 0.8s ease-out, transform 1.8s ease-out;
}

/* Cuando se active la animación */
.titulo-slider.show {
    opacity: 1;
    transform: translateY(0);
}

/*DESCARGA PROCEDIMIENTO DE TRABAJO */
.contenedorDescargas {
    display: flex;
    gap: 15px; /* Espaciado entre los botones */
    flex-wrap: wrap; /* Permite que los botones se ajusten si hay poco espacio */
    justify-content: center;
}

.contenedorFichaMantenimiento h4{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.botonDescarga {
    display: flex;
    flex-direction: column; /* Pone el icono arriba y el texto abajo */
    align-items: center; /* Centra el contenido */
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    background-color: #f8f8f8; /* Color de fondo ligero */
    transition: background 0.3s;
}

.botonDescarga:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar el mouse */
}

.botonDescarga img {
    margin-bottom: 5px; /* Espacio entre el icono y el texto */
    width: 35px;
}

/* Responsividad */
@media (max-width: 1024px) {
    .contenedorServicio {
        flex-direction: column;
    }
    .contenedorImagenServicio,
    .contenedorDescripcionServicio {
        max-width: 100%;
    }
    .contenedorDescripcionServicio {
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .contenedorDescripcionServicio h1 {
        font-size: 1.3rem;
    }
    .parrafoServicio {
        font-size: 0.9rem;
    }
    .contenedorMetodo .li {
        font-size: 0.9rem;
    }
    .slogan {
        font-size: 1rem;
    }

    .contenedorServicio {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        width: 100%;
        background: #fffffffb;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        max-height: 100%;
    }
}

/* PROYECTO CSS GENERAL DE LA WEB*/

.sectionProyectos{
    background-color: #5c5b5b;
}

.contenedorProyectos {
    border-radius: 25px;
    text-align: center;
    padding: 8px 15px;
}

.contenedorProyectos h1 {
    text-shadow: 0 0 3px #0e0b0b, 0 0 2px #0a0404, 0 0 5px #0a0909, 0 0 25px #0a0505;
    font-size: 2rem;
    color: #FF5722;
    margin-bottom: 5px;
}

.contenedorProyectos h2 {
    text-shadow: 0 0 3px #0e0b0b, 0 0 2px #0a0404, 0 0 5px #0a0909, 0 0 25px #0a0505;
    font-size: 1.8rem;
    color: #FF5722;
    margin-bottom: 5px;
}

.tituloProyectos{
    text-shadow: 0 0 3px #0e0b0b, 0 0 7px #0a0404, 0 0 15px #0a0909, 0 0 25px #0a0505;
    animation: parpadeo-elegir 1s infinite alternate;
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

@keyframes parpadeo-elegir{
    0%, 100% {
        text-shadow: 0 0 3px #0e0b0b, 0 0 7px #0a0404, 0 0 15px #0a0909, 0 0 25px #0a0505;
    }
    50% {
        text-shadow: 0 0 5px #1a1111, 0 0 10px #140707, 0 0 20px #120a0a, 0 0 30px #1e0808;
    }
}

/* BENEFICIOS DE PROYECTO */

.ContenidoBeneficiosProyecto {
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    min-height: 100vh;
    background-color: rgb(145, 140, 140);
}

.contenedorBeneficiosProyecto {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 15px;
}

.contenedorBeneficiosProyecto h2 {
    color: #D32F2F;
    text-align: center;
    text-transform: uppercase;
}

/* Contenedor principal con la lista y la imagen */
.beneficiosProyecto {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.contenedorBeneficiosProyecto ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;    
}

.contenedorBeneficiosProyecto li {
    font-size: 1.1em;
    margin: 35px 0 35px 15px;
    position: relative;
    padding-left: 25px;
}

.contenedorBeneficiosProyecto li::before {
    content: "✔";
    color: #D32F2F;
    position: absolute;
    left: 0;
    font-weight: bold;
}

/* Imagen a la derecha */
.imagenBeneficioProyecto {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenBeneficioProyecto img {
    border-radius: 20px;
    width: 50%;
    height: 100%;
    max-height: 100%;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    .beneficiosProyecto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imagenBeneficioProyecto {
        width: 100%;
    }
}


/* PASO DE PROYECTO*/
/* Contenedor del Proceso */
.contenedorProceso {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.contenedorProceso h2{
    color: #D32F2F;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.procesoPasos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.paso {
    flex: 1 1 calc(50% - 20px); /* Hace que haya dos pasos por fila */
    background-color: #b12424;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.paso h3{
    margin-bottom: 10px;
    font-weight: bold;
}

.paso p{
    color: white;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .beneficiosProyecto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imagenBeneficioProyecto {
        width: 100%;
    }

    .procesoPasos {
        flex-direction: column;
    }

    .paso {
        width: 100%;
    }
}






/* PROYECTOS EN FILA */
.contenedorProyectosFila {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.contenedorProyecto {
    display: flex;  /* Hace que el contenido se acomode en columna */
    flex-direction: column; /* Asegura que los elementos estén en columna */
    justify-content: center; /* Distribuye los elementos */
    width: 42%;
    background: #494646;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contenedorDescripcionProyecto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorDescripcionProyecto h2 {
    text-shadow: 0 0 3px #0e0b0b, 0 0 2px #0a0404, 0 0 5px #0a0909, 0 0 25px #0a0505;
    animation: parpadeo-elegir 1s infinite alternate;
    color: white;
    text-align: center;
    width: 80%;
    margin-bottom: 5px;
}

.ProyectoColumnasLineas {
    min-height: 100vh;
    padding: 10px 10px;
    background-color: #5c5b5b;
}

.btnVerMas, .btnContacto {
    width: fit-content;
    margin:  0 auto;
    display: inline-block;
    background: #D32F2F;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
    align-items: end;
    justify-content: end;

}

.btnVerMas:hover, .btnContacto:hover {
    background: #B71C1C;
}



/* RESPONSIVE */
@media (max-width: 768px) {
    .contenedorProyectosFila {
        flex-direction: column;
        align-items: center;
    }

    .contenedorProyecto {
        width: 100%;
    }

    .procesoPasos {
        flex-direction: column;
        align-items: center;
    }

    .paso {
        width: 90%;
        margin-bottom: 20px;
    }

    .contenedorDescripcionProyecto h2 {
        width: 100%;
    }
}


.descripcionProyecto {
    font-size: 1rem;
    color: white;
    margin: 10px 0;
    text-align: center;
}


/* PROYECTO SLIDER*/

.sliderProyecto {
    position: relative;
    width: 70%;
    overflow: hidden;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 10px;
}

.sliderProyecto-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;
}

.sliderProyecto-container img {
    width: 50%;
    flex: 1;
}

.prevProyecto, .nextProyecto {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prevProyecto { left: 10px; }
.nextProyecto { right: 10px; }


.sectionExtintores {
    min-height: 100vh;
    background-color: #5c5b5b;
}

.ExtintoresColumnasLineas{
    background-color: #5c5b5b;
}