/* Estilos generales */
* {
    box-sizing: border-box;
}

.sectionServicio {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: whitesmoke;
    min-height: 520px;
}

.contenedorServicio {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    height: auto;
    background: #fffffffb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Estilos para la imagen */
.contenedorImagenServicio {
    position: relative;
    flex: 1;
    min-width: 300px;
    max-width: 40%;
    overflow: hidden;
    height: 100%;
}

.contenedorImagenServicio img {
    width: 100%;
    height: 100%;
}

.titulo-slider {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
}

/* Estilos para la descripción */
.contenedorDescripcionServicio {
    flex: 1;
    max-width: 60%;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.contenedorDescripcionServicio h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}

.parrafoServicio {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

.parrafoServicio span{
    color: #d40203;
    font-weight: bold;
}

.contenedorMetodologia h4 {
    font-size: 1.3rem;
    color: #222;
    margin-bottom: 5px;
}

.contenedorMetodo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contenedorMetodo .li {
    list-style: none;
    font-size: 1.1rem;
    color: #444;
    padding-left: 20px;
    position: relative;
}

.contenedorMetodo .li::before {
    content: '\2713';
    position: absolute;
    left: 0;
    color: #d40203;
    font-weight: bold;
}

.slogan {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    text-align: justify;
}

.slogan span {
    color: #d40203;
}

/* Inicialmente ocultamos los elementos */
.contenedorImagenServicio img,
.contenedorDescripcionServicio h1,
.parrafoServicio,
.contenedorMetodologia,
.slogan,
.contenedorMetodo .li,
.titulo-slider{
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 1.8s ease-out;
}

/* Cuando se activa la animación */
.contenedorImagenServicio img.show,
.contenedorDescripcionServicio h1.show,
.parrafoServicio.show,
.contenedorMetodologia.show,
.slogan.show,
.contenedorMetodo .li.show, .titulo-slider{
    opacity: 1;
    transform: translateY(0);
}

/* Ajuste para la imagen (desliza desde la izquierda) */
.contenedorImagenServicio img {
    transform: translateX(-500px);
}

.contenedorImagenServicio img.show {
    transform: translateX(0);
}

/* La descripción inicia oculta y se mueve desde la derecha */
.contenedorDescripcionServicio {
    opacity: 0;
    transform: translateX(500px);
    transition: opacity 0.8s ease-out, transform 1.8s ease-out;
}

/* Cuando se activa la animación */
.contenedorDescripcionServicio.show {
    opacity: 1;
    transform: translateX(0);
}

/* Ocultamos el título al inicio y lo movemos un poco hacia arriba */
.titulo-slider {
    opacity: 0;
    transform: translatex(-500px);
    transition: opacity 0.8s ease-out, transform 1.8s ease-out;
}

/* Cuando se active la animación */
.titulo-slider.show {
    opacity: 1;
    transform: translateY(0);
}

/*DESCARGA PROCEDIMIENTO DE TRABAJO */
.contenedorDescargas {
    display: flex;
    gap: 15px; /* Espaciado entre los botones */
    flex-wrap: wrap; /* Permite que los botones se ajusten si hay poco espacio */
    justify-content: center;
}

.contenedorFichaMantenimiento h4{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}


.botonDescarga {
    display: flex;
    flex-direction: column; /* Pone el icono arriba y el texto abajo */
    align-items: center; /* Centra el contenido */
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    background-color: #f8f8f8; /* Color de fondo ligero */
    transition: background 0.3s;
}

.botonDescarga:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar el mouse */
}

.botonDescarga img {
    margin-bottom: 5px; /* Espacio entre el icono y el texto */
    width: 35px;
}





/* Responsividad */
@media (max-width: 1024px) {
    .contenedorServicio {
        flex-direction: column;
    }
    .contenedorImagenServicio,
    .contenedorDescripcionServicio {
        max-width: 100%;
    }
    .contenedorDescripcionServicio {
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .contenedorDescripcionServicio h1 {
        font-size: 1.3rem;
    }
    .parrafoServicio {
        font-size: 0.9rem;
    }
    .contenedorMetodo .li {
        font-size: 0.9rem;
    }
    .slogan {
        font-size: 1rem;
    }

    .contenedorServicio {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        width: 100%;
        background: #fffffffb;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        max-height: 100%;
    }
}



.sectionProyectos {
    padding: 20px 5%;
    background-color: #f9f9f9;
}

.contenedorProyectos {
    text-align: center;
}

.contenedorProyectos h1 {
    font-size: 2.5em;
    color: #D32F2F;
    margin-bottom: 10px;
}

.descripcionProyectos {
    text-align: justify;
    font-size: 1.2em;
    margin-bottom: 40px;
    line-height: 1.6;
}

.descripcionProyectos span {
    color: #d40203;
    font-weight: bold;
}

.contenedorBeneficios {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: left;
}

.contenedorBeneficios h2 {
    color: #D32F2F;
}

.contenedorBeneficios ul {
    list-style: none;
    padding: 0;
}

.contenedorBeneficios li {
    font-size: 1.1em;
    margin: 10px 0;
    position: relative;
    padding-left: 25px;
}

.contenedorBeneficios li::before {
    content: "✔";
    color: #D32F2F;
    position: absolute;
    left: 0;
    font-weight: bold;
}

/* PROYECTOS EN FILA */
.contenedorProyectosFila {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.contenedorProyecto {
    width: 48%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contenedorImagenProyecto img {
    width: 50%;
    border-radius: 10px;
}

.titulo-slider {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    margin-top: -50px;
    font-weight: bold;
}

.btnVerMas, .btnContacto {
    display: inline-block;
    background: #D32F2F;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btnVerMas:hover, .btnContacto:hover {
    background: #B71C1C;
}

.contenedorProceso {
    text-align: left;
    margin-top: 50px;
}

.procesoPasos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.paso {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 23%;
    text-align: center;
}

.contenedorLlamadoAccion {
    text-align: center;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .contenedorProyectosFila {
        flex-direction: column;
        align-items: center;
    }

    .contenedorProyecto {
        width: 100%;
    }

    .procesoPasos {
        flex-direction: column;
        align-items: center;
    }

    .paso {
        width: 90%;
        margin-bottom: 20px;
    }
}
